body {
  margin: 0;
  background: black;
  overflow-x: hidden;
}

/* 背景画面 */
.cookie-img {
  background-image: url("cookie-img.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;

  position: relative;
}

/* タイトル */
.title {
  position: absolute;
  top: 30px;
  width: 100%;
  text-align: center;
  font-size: 80px;
  color: pink;
}

/* ボタン透明 */
#start-btn {
  position: absolute;
  inset: 0;
  background: none;
  border: none;
  cursor: pointer;
}

/* okiba */
.okiba {
  min-height: 100vh;
  background: black;
  padding: 40px;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

/* okibaタイトル */
.title2 {
  grid-column: 1 / -1;
  text-align: center;
  font-size: 80px;
  color: pink;
  margin-bottom: 30px;
}

/* 画像 */
.okiba img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  transition: 0.2s;
}

.okiba img:hover {
  transform: scale(1.05);
}

/* 非表示 */
.hidden {
  display: none;
}
