body {
  margin: 0;
  background: black;
  overflow-x: hidden;
}

/* 背景画面 */
.cookie-img {
  background-image: url("cookie-img.jpg");
  background-size: cover;
  background-position: center;

  width: 100%;
  height: 100vh;

  position: relative;
}

/* 欲望 共通（完全固定） */
.title {
  position: fixed;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);

  font-size: 90px;
  margin: 0;
  z-index: 1000;
}

/* 最初は黒 */
.title-start {
  color: black;
}

/* 押した後はピンク */
.title-okiba {
  color: #ff1a94;
}


/* ボタンを右上に小さく */
#start-btn {
  position: absolute;
  top: 10px;
  right: 10px;

  width: 15px;
  height: 15px;

  background: none;
  border: none;
  cursor: pointer;

  opacity: 0;
}

/* okiba */
.okiba {
  min-height: 100vh;
  background: black;
  padding: 40px;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.okiba {
  padding-top: 160px;  /* ←追加 */

  min-height: 100vh;
  background: black;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}


/* 画像 */
.okiba img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  transition: 0.2s;
}

.okiba img:hover {
  transform: scale(1.05);
}

/* 非表示 */
.hidden {
  display: none;
}

